%p#notice= notice

%p
  %b User:
  = @password_reset.user
%p
  %b Token:
  = @password_reset.token
%p
  %b Datetime:
  = @password_reset.datetime
%p
  %b Used:
  = @password_reset.used

= link_to 'Edit', edit_password_reset_path(@password_reset)
\|
= link_to 'Back', password_resets_path
