= simple_form_for(@subcategory) do |f|
  = f.error_notification

  .form-inputs
    = f.association :category
    = f.input :name

  .form-actions
    = f.button :submit, class: 'pull-right btn btn-primary'
    .clearfix
