.row
  .col-sm-8.col-sm-offset-1
    %h1.inline_block= "#{@subcategory.category} / #{@subcategory.name}"
    - if can? :edit, @subcategory
      = link_to edit_subcategory_path(@subcategory) do
        %i.glyphicon.glyphicon-pencil
    %ul
      - @subcategory.experiences.each do |experience|
        %li
          %h3= link_to experience, experience
      - if can? :create, Experience
        %li
          = link_to new_experience_path, class: 'btn btn-default btn-xs' do 
            %i.glyphicon.glyphicon-plus
            Experience
