%nav.navbar.navbar-static-top.navbar-inverse{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navbar-collapse-9", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #navbar-collapse-9.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to root_path do
            %i.glyphicon.glyphicon-home
        - if logged_in?
          %li
            = link_to categories_path do
              %i.glyphicon.glyphicon-list
        - if logged_in?
          %li
            = link_to random_experiences_path do
              %i.glyphicon.glyphicon-random

            
      %nav.collapse.navbar-collapse.bs-navbar-collapse{role: "navigation"}
        - if logged_in?
          = render 'shared/logged_in_menu'
        - else
          = render 'shared/logged_out_menu'
