= simple_form_for(@experience) do |f|
  .form-inputs
    = f.association :subcategory
    = f.input :title
    = f.input :description
    = f.input :javascript

  .form-actions
    = f.button :submit, class: 'btn btn-primary pull-right'
    .clearfix
