= simple_form_for(@experience) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :javascript
    = f.association :subcategory

  .form-actions
    = f.button :submit
