%h1 Listing experiences

%table
  %tr
    %th Title
    %th Description
    %th Javascript
    %th Subcategory
    %th
    %th
    %th

  - @experiences.each do |experience|
    %tr
      %td= experience.title
      %td= experience.description
      %td= experience.javascript
      %td= experience.subcategory
      %td= link_to 'Show', experience
      %td= link_to 'Edit', edit_experience_path(experience)
      %td= link_to 'Destroy', experience, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Experience', new_experience_path
