!!!
%html{lang: 'en'}
  = render 'shared/head'
  = render 'shared/analytics'
  %body.background_main
    .container_main
      = render 'shared/navigation_bar'
      .container.body
        .row
          .col-md-12
            = render 'shared/alerts'
        = yield
      = render 'shared/footer'